<div class="hero-image">
  <img src="images/inspiring-image.jpg" alt="inspiring image">
  <div class="hero-text">
    <h1>An application tracking tool for the recent CodeClan Grad</h1>
    <h2>Good luck in your new career</h2>
  </div>
</div>
