<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">

    <title>Getwork Lead Tracker</title>

    <link rel="stylesheet" href="/style.css">

    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700|Rubik:500,700" rel="stylesheet">

    <link rel="icon" href="/images/logo.png">

  </head>
  <body>
    <div id="topDivPush"></div>
    <header class = "container">
      <div class= "header_box" id="flex">
        <a href="/"><img src="/images/getwork-logo-web.png" alt="getwork logo"></a>
        <nav>
          <ul class="navbar buttonstyle">
            <a href="/lead"><li>Leads</li></a>
            <a href="/settings"><li>Settings</li></a>
          </ul>
        </nav>
      </div>
    </header>

    <section id = "main_content">
      <%= yield %>
    </section>

    <footer class = "container">
      <div class = "content" id="footer_flex">
        <img class = 'footer_logo' src="/images/getwork-logo-web-greyscale.png" alt="getwork logo">
        <p>Add us on social media while you're still unemployed and have nothing to do...</p>
        <div>
          <img class = "social" src="/images/facebook.png" alt="facebook logo">
          <img class = "social" src="/images/twitter.png" alt="twitter logo">
          <img class = "social" src="/images/linkedin.png" alt="linkedin logo">
          <img class = "social" src="/images/github.png" alt="github logo">
        </div>
        <p>Just kidding, the links don't work, but you can email me if you have any questions.<br><a href="mailto: eric.cross@sympatico.ca"><br><u>support@getwork.com</u></a></p>
        <div class = "nav">
          <a href="/">Home</a>
          <a href="/lead">Leads</a>
          <a href="/settings">Settings</a>
        </div>
      </div>
    </footer>

  </body>
</html>
