body {
  font-family: "Roboto";
  font-weight: 400;
  background-color: #E5E5E5;
  margin: 0px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;

}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  opacity: 0.5;
  transition: 0.3s;
}

.buttonstyle {
  font-family: "Rubik";
  font-weight: 500;
  font-size: 1em;
  text-transform: uppercase;
}

header {
  background:#191919;
  opacity: 0.95;
  position: fixed;
  width: 100%;
  top: 0;
  color: white;
  z-index: 100;
  box-shadow: 0 0 10px -5px black;
}

.header_box{
  grid-column: 2 / span 3;
}

#flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media all and (max-width: 900px) {
  #flex {
    flex-direction: column;
  }
}

#flex img {
  height: 1.8em;
  width: auto;
  align-self: center;
}

#flex nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-self: center;
  text-align: center;
  color: white;
}

#flex nav ul a {
  padding: 18px 36px;
  height: 100%;
}

#flex nav ul a:hover {
  background: #65FF98;
  opacity: 0.9;
}

.hero-image {
  height: 77vh;
  background-color: black;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-image img {
  opacity: 0.5;
  object-fit: cover;
  width: 100%;
  height: inherit;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -40%);
  color: white;
}

.backdrop {
  grid-column: 2 / span 3;
  background: white;
  padding: 18px;
  margin-top: 18px;
  margin-bottom: 18px;
  box-shadow: 0 0 10px -5px #7F7F7F;
}

.backdrop > .content {
  grid-column: 3 / span 1;
}

.container {
  display: grid;
  grid-template-columns: minmax(12px,1fr) 18px minmax(320px,1080px) 18px minmax(12px,1fr);
}

h1 {
  font-family: "Rubik";
  font-weight: 700;
  font-size: 3.5em;
}

h2 {
  font-family: "Rubik";
  font-weight: 500;
  font-size: 2em;
  line-height: 0.5em;
}

h3 {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 1.2em;
  line-height: 1.2em;
}

p {
  font-family: "Roboto";
  font-weight: 300;
  font-size: 0.9em
}

footer {
  background:#65FF98;
  opacity: 0.95;
  width: 100%;
  color: black;
  box-shadow: 0 0 10px -5px black;
}

footer .content {
  grid-column: 2 / span 3;
}

#footer_flex {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}

footer .footer_logo {
  align-self: center;
  height: auto;
  width: auto;
  max-width: 360px;
  padding: 48px 36px 48px 36px;
}

footer .social {
  align-self: center;
  height: auto;
  width: 36px;
  margin: 0px 12px 0px 12px;
}

.social:hover {
  opacity: 0.5;
  transition: 0.3s;
}

footer .nav {
  font-family: "Roboto";
  font-weight: 300;
  font-size: 0.9em;
  padding: 48px 0px 24px 0px;
}

footer .nav a {
  margin: 36px;
}

.button {
  display: block;
  margin: auto;
  text-align: center;
  background: #65FF98;
  width: 300px;
  padding: 12px;
  margin-top: 24px;
  margin-bottom: 36px;
}

.button .buttonstyle {
  padding: 12px;
}

.sort {
  border-bottom: 1px solid #E5E5E5;
  padding-bottom: 6px;
}
.sort li {
  display: inline-block;
  padding-right: 1em;
  padding-left: 1em;
  font-family: "Roboto";
  font-weight: 300;
  font-size: 0.9em;
}

.lead {
  display: flex;
  flex-flow: row wrap;
  align-items: center;

  border-bottom: 1px solid #E5E5E5;
  width: 100%;
}

.lead > * {
  padding-right: 1em;
  padding-left: 1em;
}

.lead:hover {
  background: #E5E5E5;
  transition: 0.3s;
}

.item_1 {
}

.item_2 {

}

.item_3 {
}

@media all and (min-width: 900px) {
  .item_2 { flex: 2 0px; }

  .item_1 { order: 1; }
  .item_2   { order: 2; }
  .item_3 { order: 3; }
}

@media all and (min-width: 600px) {
  .aside { flex: 1 auto; }
}
