body {
  font-family: "Roboto";
  font-weight: 400;
  background-color: #E5E5E5;
  margin: 0px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;

}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  opacity: 0.5;
  transition: 0.3s;
}

#topDivPush {
height: 60px;
width: 100%;
}

.buttonstyle {
  font-family: "Rubik";
  font-weight: 500;
  font-size: 1em;
  text-transform: uppercase;
}

header {
  background:#191919;
  position: fixed;
  width: 100%;
  min-height: 60px;
  top: 0;
  color: white;
  z-index: 100;
  box-shadow: 0 0 10px -5px black;
}

.header_box{
  grid-column: 2 / span 3;
}

#flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

@media all and (max-width: 900px) {
  #flex {
    flex-direction: column;
  }
}

#flex img {
  height: 1.8em;
  width: auto;
  align-self: center;
}

#flex nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-self: center;
  text-align: center;
  color: white;
}

#flex nav ul a {
  padding: 18px 36px;
  height: 100%;
}

#flex nav ul a:hover {
  background: #65FF98;
  opacity: 0.9;
}

.hero-image {
  height: 77vh;
  background-color: black;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-image img {
  opacity: 0.5;
  object-fit: cover;
  width: 100%;
  height: inherit;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -40%);
  color: white;
}

.backdrop {
  grid-column: 2 / span 3;
  background: white;
  padding: 18px;
  box-shadow: 0 0 10px -5px #7F7F7F;
}

.backdrop > .content {
  grid-column: 3 / span 1;
}

.container {
  display: grid;
  grid-template-columns: minmax(12px,1fr) 18px minmax(320px,1080px) 18px minmax(12px,1fr);
}

.bold {
  font-weight: 700;
}

h1 {
  font-family: "Rubik";
  font-weight: 700;
  font-size: 3.5em;
  margin-top: 0.2em;
  margin-bottom: 0.2em;
}

h2 {
  font-family: "Rubik";
  font-weight: 500;
  font-size: 2em;
  margin-top: 0.2em;
  margin-bottom: 0.2em;
}

h3 {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 1.2em;
  margin-top: 0.2em;
  margin-bottom: 0.2em;
}

p {
  font-family: "Roboto";
  font-weight: 300;
  font-size: 0.9em;
  margin-top: 0.4em;
  margin-bottom: 0.4em;
}

footer {
  background:#65FF98;
  opacity: 0.95;
  width: 100%;
  color: black;
  box-shadow: 0 0 10px -5px black;
}

footer .content {
  grid-column: 2 / span 3;
}

#footer_flex {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}

footer .footer_logo {
  align-self: center;
  height: auto;
  width: auto;
  max-width: 360px;
  padding: 48px 36px 48px 36px;
}

footer .social {
  align-self: center;
  height: auto;
  width: 36px;
  margin: 0px 12px 0px 12px;
}

.social:hover {
  opacity: 0.5;
  transition: 0.3s;
}

footer .nav {
  font-family: "Roboto";
  font-weight: 300;
  font-size: 0.9em;
  padding: 48px 0px 24px 0px;
}

footer .nav a {
  margin: 36px;
}

.button {
  display: block;
  margin: auto;
  text-align: center;
  background: #65FF98;
  width: 240px;
  padding: 12px;
  margin-top: 24px;
  margin-bottom: 36px;
}

.button .buttonstyle {
  padding: 12px;
}

.sort {
  border-bottom: 1px solid #E5E5E5;
  padding-bottom: 6px;
}
.sort li {
  display: inline-block;
  padding-right: 1em;
  padding-left: 1em;
  font-family: "Roboto";
  font-weight: 300;
  font-size: 0.9em;
}

.lead {
  display: flex;
  flex-flow: row wrap;
  border-bottom: 1px solid #E5E5E5;
  width: 100%;
}

.lead > * {
  padding-right: 1em;
  padding-left: 1em;
}

.lead:hover {
  opacity: 0.5;
  transition: 0.3s;
}

.lead .item_1 {
  width: 260px;
}

.lead .item_2 {
  display: flex;
}

.lead .item_2 .center {
  margin-top: auto;
  margin-bottom: auto;
}

.lead .item_3 {
  width: 120px;
  opacity: 0.9;
  display: flex;
  text-align: center;
}

.lead .item_3 .center {
  margin: auto;
}


.status_bar {
  margin-top: 18px;
  margin-bottom: 18px;

  display: flex;
  flex-flow: row wrap;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.button {
  text-align: center;
  padding: 12px;
}

#action_list{
  border-top: 1px solid #E5E5E5;
  border-left: 1px solid #E5E5E5;
  border-right: 1px solid #E5E5E5;
  background-color: #F7F7F7;

}

.action_list {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  border-bottom: 1px solid #E5E5E5;
  width: 100%;
}

.underline {
  border-bottom: 1px solid black;
}

.action_list .item_1 {
  width: 240px;
  padding-left: 18px;
  margin: auto;
}

.action_list .item_3 {
  display: flex;
  flex-flow: column;
  width: 240px;
  text-align: center;
}

.action_list .item_4 {
  display: flex;
  flex-flow: column;
  align-items: stretch;
  text-align: center;
  width: 80px;
  height: 100%;
  margin: 0;
}

.action_list .item_4 p {
  width: 100%;
  height: 100%;
  padding: 12px;
  margin: 0;
  box-sizing: border-box;
}

input[type="img"] {
  box-sizing: border-box;
}

.formbutton {
  margin: 0;
  width: 100%;
  padding-top: 12px;
  padding-bottom: 12px;
  border: none;
  font-weight: 700;
  text-transform: uppercase;
}

.done_button {
  margin-top: 2px;
  margin-bottom: 2px;
  padding-top: 4px;
  padding-bottom: 4px;
  width: 120px;
  border: 0px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.6em;
}

.link:hover {
  opacity: 0.7;
}

.purple {
  background-color: #6347ff;
}

.red {
  background-color: #ff7961;
}

.orange {
  background-color: #FF6347;
}

.yellow {
  background-color: #ffff99.;
}

.green {
  background-color: #65FF98;
}

.blue {
  background-color: #4787ff;
}

.mint {
  background-color: #65FF98;
}

.grey {
  background-color: #CCCCCC;
}

.light_grey {
  background-color: #E5E5E5;
}

@media all and (min-width: 900px) {
  .item_2 { flex: 2 0px; }

  .item_1 { order: 1; }
  .item_2 { order: 2; }
  .item_3 { order: 3; }
  .item_4 { order: 4; }
}

@media all and (max-width: 900px) {
  .lead {
    flex-flow: column;
    text-align: center;
  }
  .action_list {
    flex-flow: column;
    text-align: center;
  }
}

.action_form{
	margin: 0;
	padding: 18px 18px 36px 18px;
	background: #F7F7F7;
  border: none;
}

.action_form input[type="text"],
.action_form textarea,
.action_form select
{
	outline: none;
  box-sizing: border-box;
	background: #fff;
	margin-bottom: 12px;
	border: 1px solid #ccc;
  border-radius: 0;
	padding: 6px;
	color: #555;
	font: 'Roboto';
  font-size: 0.9em;
  font-weight: 300;
  width: 100%;
}

.action_form input[type="checkbox"]:focus,
.action_form input[type="date"]:focus,
.action_form input[type="text"]:focus,
.action_form textarea:focus,
.action_form select:focus
{
	box-shadow: 0 0 5px #65FF98;
	padding: 6px;
	border: 1px solid #65FF98;
}

.action_form input[type="submit"]{
	box-sizing: border-box;
	padding: 18px;
  margin-bottom: 1px;
  border: 0;
  width: 100%;
  font-size: 1em;
}

.action_form input[type="submit"]:hover {
	opacity: 0.5;
}

.action_form .flexbox label{
	display: inline-block;
  margin-right: 60px;
}

.action_form .flexbox label span{
	display: inline-block;
  margin-bottom: 24px;
}

.action_form input[type="checkbox"],
.action_form input[type="date"], {
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 0;
  padding: 6px;
  color: #555;
  font: 'Roboto';
  font-size: 0.9em;
  font-weight: 300;
  width: 100%;
}
.spacing {
  margin-top: 24px;
}
