<div class="container">
<div class="backdrop">
<div class="content">

<h1>New Lead, New Opportunity</h1>

<form class="action_form" method="post">


  <h2>Lead</h2>
  <input type = "text" name = "name">

  <h3>Company</h3>
  <input type = "text" id = "company" name = "company_name">

  <h3>Summary</h3>
  <textarea name ="summary" rows="8" cols="80"></textarea>

  <h3>URL Link</h3>
  <input type ="text" name="link">

  <input type="submit" formaction="/lead" value= "Save Lead" class="mint buttonstyle spacing"/>

  <input type="submit" formaction ="/lead/cancel" value= "Cancel" class="grey buttonstyle"/>

</form>

</div>
</div>
</div>
